.table-flat {
    color: black;
}

html, body {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
}

#image {
    display: none;
}

#table {
    position: absolute;
    background: white;
    transform: translate(-50%, 0);
    top: 20px;
    left: 50%;
    width: 30%;
}

#backdrop {
    display: block;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.firstPlace {
    background: gold;
    /*background*/
    /*color: blue;*/
}

.secondPlace {
    background: silver;
    /*color: orange;*/
}

.thirdPlace {
    background: rgb(205, 127, 50)
    /*color: yellow;*/
}

@media only screen and (max-width: 1100px) {
    #table {
        position: absolute;
        transform: translate(0, 0);
        left: 0;
        width: 100%;
        top: 130px;
    }

    #image {
        display: block;
        position: relative;
        transform: translate(-50%, 0);
        left: 50%;
        width: 130px;
    }

    #backdrop {
        display:none;
    }
}